<FORM method=post action="cgi-bin/script.pl">
Poster un message sur le forum
<TABLE BORDER=0>
<TR>
	<TD>Titre du message</TD>
	<TD>
	<INPUT type=text name="titre">
	</TD>
</TR>

<TR>
	<TD>Commentaire</TD>
	<TD>
	<INPUT type=text name="commentaire">
	</TD>
</TR>


<TR>
	<TD>Sujet du message</TD>
	<TD>
	<SELECT name="sujet">
		<OPTION VALUE="enseignant">Developpement</OPTION>
		<OPTION VALUE="etudiant">Systeme</OPTION>
		<OPTION VALUE="ingenieur">Bureautique</OPTION>
		<OPTION VALUE="retraite">Technologie web</OPTION>
		<OPTION VALUE="autre">Autre</OPTION>
	</SELECT>
	</TD>
</TR>
<TR>
	<TD>Message</TD>
	<TD>
	<TEXTAREA rows="6" cols="60" name="message">
	Tapez ici votre message</TEXTAREA>
	</TD>
</TR>

<TR>
	<TD COLSPAN=2>
	<INPUT type="submit" value="Envoyer">
	</TD>
</TR>
</TABLE>
</FORM>
