#set ($online = $context.getRequest().getSession().getAttribute("online"))

<div id="container">
</div>

#foreach( $item in $items )
	<center>____________________________________________________________________</center>
	<center>$item.getmessage()</center>
#end
<center>____________________________________________________________________</center>

<center><b><a href=$context.getProperties().get("context")/forum/creationmessage?id=$context.getRequest().getParameter("id")> Nouveau message </a><b></center>