$context.setPageTitle("Deconnexion")
<meta http-equiv="refresh" content="0.5; URL=$context.getProperties().get("context")/index">

<div id="container">
	<img src="/JavaWeb/res/img/chargement.gif">
</div>