#set ($path = $context.getProperties().get("context"))
<div class="container">
<header class="row">
<div class="col-md-12">
<br/><br/>
	<center><img src="/JavaWeb/res/img/logo.png"></center>
</div>
<br/><br/>
<div id="link"></div>

#set ($online = $context.getRequest().getSession().getAttribute("online"))





<center>
<div id="entete">

			#if(!$online)
	 		<div align="right">
	 			 <a href=$context.getProperties().get("context")/user/connect/><strong>Connexion </strong></a>|			 	
				 <a href=$context.getProperties().get("context")/user/register/><strong>Inscription</strong></a> 
		 
		 	#else
		 	<div align="right">
		 		<i>Bienvenue <b>$context.getRequest().getSession().getAttribute("username")</b><br/> <a href=$context.getProperties().get("context")/user/deconnect>  D&eacute;connexion</a></i>
		 
		 #end  

</div>
<br/>
<div>
	<ul><h4>	 
		 |<a href=$context.getProperties().get("context")/index/>  Accueil  </a>|
		
		 #if($online)
		 	<a href=$context.getProperties().get("context")/forum/creationtopic> Nouveau sujet  </a>|
		 	<a href=$context.getProperties().get("context")/user/userpage> Mon compte  </a>|
		 #end
		 <a href=$context.getProperties().get("context")/infos/info> Qui sommes nous  </a>|
	</ul></h4>
</div>
</center>
<style>  
a{text-decoration:none}
</style>
</head>
<center>

</header>