#set ($path = $context.getProperties().get("context"))
<div class="container">
<header class="row">
<div class="col-md-12">
	<h1>$title</h1>
</div>

<div id="link"></div>

#set ($js = $context.getProperties().get("context")+"/res/js/shared/link.js")
$context.addJSDependency($js)
		
$context.addOnJsReady("new Esgi.module.shared.MenuPrincipal({ id : '#link'})")


</header>