#set ($path = $context.getProperties().get("context"))
<div class="container">
<header class="row">
<div class="col-md-12">
	<center><h1>Esgi Forum</h1></center>
</div>
<br/><br/>
<div id="link"></div>

#set ($online = $context.getRequest().getSession().getAttribute("online"))





<center>
<div id="entete">

			#if(!$online)
	 		<div align="right">
	 			 <a href=$context.getProperties().get("context")/user/connect/><strong>Connexion |</strong></a> 			 	
				 <a href=$context.getProperties().get("context")/user/register/><strong>Inscription</strong></a> 
		 
		 	#else
		 	<div align="right">
		 		<i>Bienvenue <b>$context.getRequest().getSession().getAttribute("username")</b></i>
		 
		 #end  

</div>
<br/>
<div>
	<ul><h4>	 
		 <a href=$context.getProperties().get("context")/index/> | Accueil | </a>
		 <a href=$context.getProperties().get("context")/forum/creationmessage> Nouveau sujet | </a>
		 <a href=$context.getProperties().get("context")/infos/info> Qui sommes nous | </a>
		
		 #if($online)
		 	
		 	<a href=$context.getProperties().get("context")/user/userpage> Mon compte  |</a>
		 	<a href=$context.getProperties().get("context")/user/deconnect/>  Se d&eacute;connecter  |</a>
		 #end
	</ul></h4>
</div>
</center>
<style>  
a{text-decoration:none}
</style>
</head>
<BR><BR><BR><BR>
<center>

</header>