
<center>
<p>
L'école Supérieure de Génie Informatique (ESGI) est une école privée d'enseignement supérieur en informatique 
située à Paris. www.esgi.fr
Mission
Faire découvrir et connaitre l'école par le biais de photos et de vidéos.
Description
L'école Supérieure de Génie Informatique (ESGI) est une école privée d'enseignement supérieur en informatique 
située à Paris. Son objectif est de permettre aux étudiants d'acquérir des connaissances dans les métiers 
de l'informatique et ceux liés à Internet.
</p>

</center>
