#set ($online = $context.getRequest().getSession().getAttribute("online"))

<h2>
	$context.setPageTitle("Esgi Forum")
</h2>

#if(!$online)
	<center> Bienvenue sur le forum de l'&eacute;cole Sup&eacute;rieure de G&eacute;nie Informatique <br/>
	Le club du forum ESGI est le principal site d&#146;entraide des &eacute;tudiants informaticiens avec jusqu'&agrave; 170 000 visites 
	par jour. Le club est fr&eacute;quent&eacute; par plus de  deux mille lecteurs (d&eacute;veloppeurs, chefs de projets, DBA, responsables IT...)
	tous les mois dans le monde. Le Club vous apporte gratuitement une multitude 
	d'avantages : r&eacute;seau social, newsletter, magazine, actualit&eacute;s, cours, tutoriels, articles, FAQ's, tests, 
	comparatifs, d&eacute;bats, sondages, outils, sources, composants et exemples de codes, les BLOGs, et enfin la TV. 
	Le Club est anim&eacute; b&eacute;n&eacute;volement par tous les membres du Club et en particulier par l'&eacute;quipe de r&eacute;daction du Club.</center>
#else

<div id="container">
</div>

<center>____________________________________________________________________</center>
	#foreach( $item in $items )
		<a href=$context.getProperties().get("context")/forum/topicmessagelist?id=$item.getId()>$item.getsujet()</a>  // $item.getdate()<br/>
		<center>____________________________________________________________________</center>
	#end

#end